<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ARTICLE</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/postArticle.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">

    <div class="post-info-container">
        <div class="title-box font21">
            [<span th:text="${post.categoryName}"></span>] <span th:text="${post.title}"></span>
        </div>
        <div class="etc-info-container font14">
            <div class="date-box">
                <div>등록일시 <span th:text="${post.createdAt}"></span></div>
                <div>수정일시
                    <span th:if="${post.updatedAt != null}" th:text="${post.updatedAt}"></span>
                    <span th:if="${post.updatedAt == null}">-</span>
                </div>
            </div>
            <div class="etc-box">
                <div>작성자 <span th:text="${post.writer}"></span></div>
                <div>조회수 <span th:text="${post.views}"></span></div>
            </div>
        </div>
    </div>
    <hr class="tableLine1">

    <div class="content-container font16">
        <!-- 스크립트 영역 작성해서 넣어보기  -->
        <span th:utext="${post.content.replaceAll('\n', '<br>')}" />
    </div>


    <div class="files-container">
        <div th:each="file : ${files}" class="file-box font14">
            <img class="download-img" src="/img/download.png">
            <a th:href="@{/download(seq=${file.fileId})}" th:text="${file.fileName}"></a>
        </div>
    </div>

    <div class="comment-container">
        <div class="comment-item">
            <div class="command-date">2022.03.08 17:20</div>
            <div class="command-content">댓글입니다.</div>
        </div>
        <hr class="tableLine2">
        <div class="comment-item">
            <div class="command-date">2022.03.08 17:20</div>
            <div class="command-content">댓글입니다.2</div>
        </div>
        <hr class="tableLine2">
        <form action="/reply" method="POST" class="new-comment-box">
            <input type="hidden" name="postId" th:value="${post.postId}">
            <textarea class="new-comment" name="content" placeholder="댓글을 입력해주세요."></textarea>
            <button class="comment-submit-button" type="submit">등록</button>
        </form>
    </div>
    <hr class="tableLine1">
    <div class="button-container">
        <button class="button-item" type="button" onclick="navigateTo('/posts')">목록</button>
        <button class="button-item" type="button" th:onclick="navigateTo('/edit-post?postId=[[${post.postId}]]')">수정</button>
        <button class="button-item" type="button" onclick="popup()">삭제</button>
    </div>

</div>

<div id="popupBackground" style="display: none;"></div>
<div id="popupDiv" style="display: none;">
    <form th:action="@{/post}" th:method="DELETE" class="popup-container">
        <hr class="popup-line">
        <div class="popup-input-box">
            <div class="popup-title font13">
                <span>비밀번호 <span style="color: red;">*</span></span>
            </div>
            <input type="hidden" name="postId" th:value="${post.postId}">
            <input type="password" name="password" class="popup-input font12" placeholder="비밀번호를 입력해 주세요.">
        </div>
        <hr class="popup-line">

        <div class="popup-btn-box">
            <button type="button" onclick="closePopup()">취소</button>
            <button type="submit">확인</button>
        </div>
    </form>
</div>

<script>

    function navigateTo(path) {
        location.href = path;
    }

    function popup() {
        const popupDiv = document.getElementById('popupDiv');
        const popupBackground = document.getElementById('popupBackground');
        popupDiv.style.display = 'block';
        popupBackground.style.display = 'block';
    }

    function closePopup() {
        const popupDiv = document.getElementById('popupDiv');
        const popupBackground = document.getElementById('popupBackground');
        popupDiv.style.display = 'none';
        popupBackground.style.display = 'none';
    }

    $().ready(function () {

    });

</script>

</body>
</html>